@import '../../Content/Styles/_variables.scss';
@import '../../Content/Styles/_mixins.scss';

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    .condition-area-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: inherit;
        min-height: 400px;
        padding: 20px;
        background-color: $condition-area-primary-color;
        .condition-area-title {
            margin-bottom: 10px;
            color: $condition-area-title-text-color;
        }

        .condition-area {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;
            .machine-area-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                min-height: 400px;
                max-height: 550px; 
                padding: 10px;
                margin-bottom: 10px;
                margin-right: 20px;
                background-color: $condition-area-accent-color;
                .machine-area-title {
                    font-size: medium;
                    margin-bottom: 8px;
                    color: $condition-area-title-text-color;
                } 
                .machine-area {
                    max-width: 200px;  
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    .add-machine-area {
                        min-height: 130px;
                        height: 130px;
                        width: 200px;    
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: $condition-area-primary-color; 
                        .input-element {
                            width: 190px;
                            margin: 10px;
                            color: $condition-area-title-text-color;
                        }
                        .add-machine-button {
                            margin-bottom: 5px;
                            margin-left: 80px;
                            background: $condition-action-button-color;
                            color: $condition-area-title-text-color;
                        }
                    }
                    .machines-table {
                        max-height: 250px;
                        width: 100%;
                        height: 100%;
                        margin-top: 10px;
                        overflow-y: auto;
                    }
                    .delete-selected-button {
                        margin-top: 5px;
                        background: $condition-action-button-color;
                        color: $condition-area-title-text-color;
                    }
                }
            }

            .task-area-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                min-height: 400px;
                max-height: 550px; 
                padding: 10px;
                margin-bottom: 10px;
                margin-right: 20px;
                background-color: $condition-area-accent-color;
                .task-area-title {
                    font-size: medium;
                    margin-bottom: 8px;
                    color: $condition-area-title-text-color;
                } 
                .task-area {
                    max-width: 200px;  
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    .add-task-area {
                        min-height: 130px;
                        height: 130px;
                        width: 200px;    
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: $condition-area-primary-color; 
                        .input-element {
                            width: 190px;
                            margin: 10px;
                            color: $condition-area-title-text-color;
                        }
                        .add-task-button {
                            margin-bottom: 5px;
                            margin-left: 80px;
                            background: $condition-action-button-color;
                            color: $condition-area-title-text-color;
                        }
                    }
                    .tasks-table {
                        max-height: 250px;
                        width: 100%;
                        height: 100%;
                        margin-top: 10px;
                        overflow-y: auto;
                    }
                    .delete-selected-button {
                        margin-top: 5px;
                        background: $condition-action-button-color;
                        color: $condition-area-title-text-color;
                    }
                }
            }

            .machine-task-area-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                min-height: 400px;
                max-height: 550px; 
                padding: 10px;
                margin-bottom: 10px;
                margin-right: 20px;
                background-color: $condition-area-accent-color;
                .machine-task-area-title {
                    font-size: medium;
                    margin-bottom: 8px;
                    color: $condition-area-title-text-color;
                } 
                .machine-task-area {
                    max-width: 440px;  
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: baseline;
                    .add-machine-task-area {
                        min-height: 130px;
                        height: 130px;
                        width: 440px;    
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                        background-color: $condition-area-primary-color;  
                        .input-selector {
                            width: 140px;
                            height: 30px;
                            margin: 5px 10px 30px 10px;
                            color: $condition-area-title-text-color;
                        }
                        .input-element {
                            width: 100px;
                            margin: 10px;
                            color: $condition-area-title-text-color;
                        }
                        .add-machine-task-button {
                            margin-bottom: 5px;
                            margin-left: 325px;
                            background: $condition-action-button-color;
                            color: $condition-area-title-text-color;
                        }
                    }
                    .machine-task-table {
                        max-height: 250px;
                        width: 100%;
                        height: 100%;
                        margin-top: 10px;
                        overflow-y: auto;
                    }
                    .delete-selected-button {
                        margin-top: 5px;
                        background: $condition-action-button-color;
                        color: $condition-area-title-text-color;
                    }
                }
            }

            .table-area-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                min-height: 400px;
                max-height: 550px; 
                min-width: 430px;
                height: 100%;
                width: 430px;
                flex-grow: 1;
                padding: 10px;
                margin-bottom: 10px;
                background-color: $condition-area-accent-color;
                .table-area-title {
                    font-size: medium;
                    margin-bottom: 8px;
                    color: $condition-area-title-text-color;
                } 
                .table-area {
                    .table-task-title {
                        width: 90%;
                        text-align: center;
                        margin-bottom: 10px;
                        color: $condition-task-color;
                    }
                    .table-machine-title-layout {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: stretch;
                        .table-machine-title {
                            margin-top: 90px;
                            margin-right: 10px;
                            color: $condition-machine-color;
                            text-align: center;
                            writing-mode: vertical-rl;
                            text-orientation: upright;
                            letter-spacing: -0.3em;
                        }
                        .table-machine-task-container {
                            max-height: 400px;
                            width: 100%;
                            overflow-y: auto;
                            overflow-x: auto;
                            .table-machine-task {
                                .table-corner-cell {

                                }
                                .table-header {

                                }
                                .table-task-header {
                                    background-color: $condition-task-cell-color;
                                }
                                .table-machine-header {
                                    background-color: $condition-machine-cell-color;
                                }
                                .table-cell {
                                    border: 1px solid white;
                                    text-align: center;
                                    min-height: 20px;
                                    min-width: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .calc-area-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: inherit;
        padding: 20px;
        background-color: $calc-area-primary-color;
        .calc-answer-button {
            margin-top: 5px;
            width: 450px;
            background: $calc-action-button-color;
            color: $calc-area-title-text-color;
        }
    }
    
    .answer-area-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        min-height: 400px;
        max-height: 550px; 
        width: inherit;
        min-height: 400px;
        padding: 20px;
        background-color: $answer-area-primary-color;
        .answer-area-title {
            margin-bottom: 10px;
            color: $answer-area-title-text-color;
        }
        .answer-area {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            overflow-y: auto;

            .answer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                min-height: 250px;
                padding: 10px;
                margin-bottom: 10px;
                margin-right: 20px;
                background-color: $answer-area-accent-color;
                .indicators-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .indicator {
                        margin-top: 10px;
                        font-size: medium;
                    }
                }
                .tasks-downtime-area {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    overflow-x: auto;
                    .table-cell {
                        border: 1px solid white;
                        text-align: center;
                        min-height: 20px;
                        min-width: 50px;
                    }
                }
                .tasks-queue-area {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    overflow-x: auto;
                }
            }
        }
    }
}