<div class="page-container">
    <div class="condition-area-container">
        <mdl-layout-title class="condition-area-title">Условие</mdl-layout-title>

        <div class="condition-area">
            <div class="machine-area-container" mdl-shadow="4">
                <mdl-layout-title class="machine-area-title">Исполнители</mdl-layout-title>
                <div class="machine-area">
                    <div class="add-machine-area" mdl-shadow="2">
                        <mdl-textfield class="input-element" type="text" label="Название"
                                       [(ngModel)]="_newMachine.name"
                                       floating-label></mdl-textfield>
                        <button class="add-machine-button" (click)="addNewMachine()" mdl-button mdl-button-type="raised">
                            Добавить
                        </button>
                    </div>
                    <mdl-table-selectable class="machines-table" mdl-shadow="2"
                                          [table-model]="_machinesTableModel"
                                          (table-model-selectionChanged)="machinesTableSelectionChanged($event)"></mdl-table-selectable>
                    <button class="delete-selected-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                            *ngIf="_isMachinesDeleteButtonVisible"
                            (click)="deleteSelectedMachines()">
                        Удалить отмеченные
                    </button>
                </div>
            </div>

            <div class="task-area-container" mdl-shadow="4">
                <mdl-layout-title class="task-area-title">Работы</mdl-layout-title>
                <div class="task-area">
                    <div class="add-task-area" mdl-shadow="2">
                        <mdl-textfield class="input-element" type="text" label="Название"
                                       [(ngModel)]="_newTask.name"
                                       floating-label></mdl-textfield>
                        <button class="add-task-button" (click)="addNewTask()" mdl-button mdl-button-type="raised">
                            Добавить
                        </button>
                    </div>
                    <mdl-table-selectable class="tasks-table" mdl-shadow="2"
                                          [table-model]="_tasksTableModel"
                                          (table-model-selectionChanged)="tasksTableSelectionChanged($event)"></mdl-table-selectable>
                    <button class="delete-selected-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                            *ngIf="_isTasksDeleteButtonVisible"
                            (click)="deleteSelectedTasks()">
                        Удалить отмеченные
                    </button>
                </div>
            </div>

            <div class="machine-task-area-container" mdl-shadow="4">
                <mdl-layout-title class="machine-task-area-title">Возможные процессы</mdl-layout-title>
                <div class="machine-task-area">
                    <div class="add-machine-task-area" mdl-shadow="2">
                        <mdl-select class="input-selector" [(ngModel)]="_newMachineTask.machine" placeholder="Исполнитель">
                            <mdl-option [value]><em>Отмена</em></mdl-option>
                            <mdl-option *ngFor="let c of _machinesTableModel.data" [value]="c.name">{{c.name}}</mdl-option>
                        </mdl-select>
                        <mdl-select class="input-selector" [(ngModel)]="_newMachineTask.task" placeholder="Работа">
                            <mdl-option [value]><em>Отмена</em></mdl-option>
                            <mdl-option *ngFor="let c of _tasksTableModel.data" [value]="c.name">{{c.name}}</mdl-option>
                        </mdl-select>
                        <mdl-textfield class="input-element" type="text" label="Время"
                                       pattern="-?[0-9]*(\.[0-9]+)?"
                                       error-msg="Должно быть число!"
                                       [(ngModel)]="_newMachineTask.time"
                                       floating-label></mdl-textfield>
                        <button class="add-machine-task-button" (click)="addNewMachineTask()" mdl-button mdl-button-type="raised">
                            Добавить
                        </button>
                    </div>
                    <mdl-table-selectable class="machine-task-table" mdl-shadow="2"
                                          [table-model]="_machineTasksTableModel"
                                          (table-model-selectionChanged)="machineTasksTableSelectionChanged($event)"></mdl-table-selectable>
                    <button class="delete-selected-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                            *ngIf="_isMachineTasksDeleteButtonVisible"
                            (click)="deleteSelectedMachineTasks()">
                        Удалить отмеченные
                    </button>
                </div>
            </div>


            <div class="table-area-container" mdl-shadow="4">
                <mdl-layout-title class="table-area-title">Таблица процессов</mdl-layout-title>
                <div class="table-area">
                    <mdl-layout-title class="table-machine-title">Исполнители</mdl-layout-title>
                    <mdl-layout-title class="table-task-title">Работы</mdl-layout-title>
                    <div class="table-machine-task-container">
                        <table class="table-machine-task">
                            <tr>
                                <td class="table-corner-cell"></td>
                                <td class="table-cell table-header table-task-header" *ngFor="let t of _tasksTableModel.data">{{t.name}}</td>
                            </tr>
                            <tr *ngFor="let m of _machinesTableModel.data">
                                <td class="table-cell table-header table-machine-header">{{m.name}}</td>
                                <td class="table-cell" *ngFor="let t of _tasksTableModel.data">{{getTimeForMachineAndTask(m.name, t.name)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="calc-area-container">
        <button class="calc-answer-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                (click)="calcAnswerUseStupidMethod()">
            Решить используя перебор
        </button>
        <button class="calc-answer-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                (click)="calcAnswerUseHeuristicMethod()">
            Решить используя эвристический алгоритм
        </button>
    </div>

    <div class="answer-area-container">
        <mdl-layout-title class="answer-area-title">Результат</mdl-layout-title>

        <div class="answer-area">

            <div class="indicators-area-container" mdl-shadow="4">
                <mdl-layout-title class="indicators-area-title">Показатели</mdl-layout-title>
                <div class="indicators-area">
                    <mdl-layout-title *ngIf="_ansswer" class="indicator">Общее время выполнения - {{_ansswer.AllTime}}</mdl-layout-title>
                    <mdl-layout-title *ngIf="_ansswer" class="indicator">Общее время простоя - {{_ansswer.Downtime}}</mdl-layout-title>
                </div>
            </div>
        </div>
    </div>

    <dialog-outlet></dialog-outlet>
</div>
