<div class="page-container">
    <div class="import-area-container">
        <mdl-layout-title class="import-area-title">Импорт условия</mdl-layout-title>

        <div class="import-area">
            <div class="import-excel-area-container" mdl-shadow="4">
                <mdl-layout-title class="import-excel-area-title">Excel</mdl-layout-title>
                <div class="import-excel-area">
                    <input #excelFileSelector class="file-selector" type="file" (change)="excelImportFileChanged($event)">
                    <button class="select-file-button" mdl-button mdl-button-type="raised" mdl-colored="primary" 
                            (click)="excelFileSelector.click()">Выбрать файл</button>
                    <mdl-layout-title class="select-file-button-label" *ngIf="_excelImportFileName">
                        - {{_excelImportFileName}}
                    </mdl-layout-title>
                    <mdl-select class="input-selector" 
                                *ngIf="_excelImportSheetNames"
                                (change)="excelImportClearSelectedCellName()"
                                [(ngModel)]="_excelImportSelectedSheetName" 
                                placeholder="Страница">
                        <mdl-option [value]><em>Отмена</em></mdl-option>
                        <mdl-option *ngFor="let c of _excelImportSheetNames" [value]="c">{{c}}</mdl-option>
                    </mdl-select>
                    <mdl-textfield class="input-element" type="text" label="Начальная ячейка"
                                *ngIf="_excelImportSelectedSheetName"
                                (change)="excelImportSamples()"
                                [(ngModel)]="_excelImportSelectedCellName"
                                floating-label></mdl-textfield>
                    <mdl-select class="input-selector"
                                *ngIf="_excelImportSelectedCellName"
                                [(ngModel)]="_excelImportSelecetedSampleName"
                                placeholder="Страница">
                        <mdl-option [value]="null"><em>Отмена</em></mdl-option>
                        <mdl-option *ngFor="let c of _excelImportSamples" [value]="c.name">{{c.name}}</mdl-option>
                    </mdl-select>
                    <button class="import-sample-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                            *ngIf="_excelImportSelecetedSampleName"
                            (click)="importConditionFromExcel()">
                        Загрузить условие
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="condition-area-container">
        <mdl-layout-title class="condition-area-title">Условие</mdl-layout-title>

        <div class="condition-area">
            <div class="vertex-area-container" mdl-shadow="4">
                <mdl-layout-title class="vertex-area-title">Узлы</mdl-layout-title>
                <div class="vertex-area">
                    <div class="add-vertex-area" mdl-shadow="2">
                        <mdl-textfield class="input-element" type="text" label="Название"
                            [(ngModel)]="_newVertex.name" 
                            floating-label></mdl-textfield>
                        <mdl-textfield class="input-element" type="text" label="Мощность"
                            pattern="-?[0-9]*(\.[0-9]+)?"
                            error-msg="Должно быть число!"
                            [(ngModel)]="_newVertex.power"
                            floating-label></mdl-textfield>
                        <mdl-switch class="input-element" [(ngModel)]="_newVertex.priority">Есть приоритет</mdl-switch>
                        <button class="add-vertex-button" (click)="addNewVertex()" mdl-button mdl-button-type="raised">
                            Добавить
                        </button>
                    </div>
                    <mdl-table-selectable class="vertices-table" mdl-shadow="2" 
                                          [table-model]="_verticesTableModel" 
                                          (table-model-selectionChanged)="verticesTableSelectionChanged($event)"></mdl-table-selectable>
                    <button class="delete-selected-button" mdl-button mdl-button-type="raised" mdl-colored="primary" 
                            *ngIf="_isVerticesDeleteButtonVisible"
                            (click)="deleteSelectedVertices()">
                        Удалить отмеченные
                    </button>
                </div>
            </div>

            <div class="arc-area-container" mdl-shadow="4">
                <mdl-layout-title class="arc-area-title">Связи</mdl-layout-title>
                <div class="arc-area">
                    <div class="add-arc-area" mdl-shadow="2">
                        <mdl-select class="input-selector" [(ngModel)]="_newArc.source" placeholder="Отправитель">
                            <mdl-option [value]><em>Отмена</em></mdl-option>
                            <mdl-option *ngFor="let c of _verticesTableModel.data" [value]="c.name">{{c.name}}</mdl-option>
                        </mdl-select>
                        <mdl-select class="input-selector" [(ngModel)]="_newArc.slink" placeholder="Получатель">
                            <mdl-option [value]><em>Отмена</em></mdl-option>
                            <mdl-option *ngFor="let c of getDataForArcSlinkSelector()" 
                                        [value]="c.name">{{c.name}}</mdl-option>
                        </mdl-select>
                        <mdl-textfield class="input-element" type="text" label="Тариф"
                                       pattern="-?[0-9]*(\.[0-9]+)?"
                                       error-msg="Должно быть число!"
                                       [(ngModel)]="_newArc.rate"
                                       floating-label></mdl-textfield>
                        <button class="add-arc-button" (click)="addNewArc()" mdl-button mdl-button-type="raised">
                            Добавить
                        </button>
                    </div>
                    <mdl-table-selectable class="arcs-table" mdl-shadow="2"
                                          [table-model]="_arcsTableModel"
                                          (table-model-selectionChanged)="arcsTableSelectionChanged($event)"></mdl-table-selectable>
                    <button class="delete-selected-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                            *ngIf="_isArcsDeleteButtonVisible"
                            (click)="deleteSelectedArcs()">
                        Удалить отмеченные
                    </button>
                </div>
            </div>

            <div class="graph-area-container" mdl-shadow="4">
                <mdl-layout-title class="graph-area-title">Граф связей</mdl-layout-title>
                <div class="graph-area">
                    <div class="graph-labels">
                        <div class="graph-label"><div class="provider-color" mdl-shadow="4"></div><mdl-layout-title class="label-title"> - поставщик (мощность)</mdl-layout-title></div>
                        <div class="graph-label"><div class="consumers-color" mdl-shadow="4"></div><mdl-layout-title class="label-title"> - потребитель (мощность)</mdl-layout-title></div>
                        <div class="graph-label"><div class="rate-color" mdl-shadow="4"></div><mdl-layout-title class="label-title"> - тариф</mdl-layout-title></div>
                    </div>
                    <div class="graph-canvas" id="conditionGraphCanvas" #conditionGraphCanvas></div>
                </div>
                <button class="button" (click)="restructConditionGraph()" mdl-button mdl-button-type="raised">
                    Перестроить
                </button>
            </div>
        </div>
    </div>

    <div class="calc-area-container">
        <button class="calc-answer-button" mdl-button mdl-button-type="raised" mdl-colored="primary"
                (click)="calcAnswer()">
            Расcчитать оптимальные поставки
        </button>
    </div>

    <div class="answer-area-container">
        <mdl-layout-title class="answer-area-title">Результат</mdl-layout-title>

        <div class="answer-area">
            <div class="arc-area-container" mdl-shadow="4">
                <mdl-layout-title class="arc-area-title">Поставки</mdl-layout-title>
                <div class="arc-area">
                    <mdl-table-selectable class="arcs-table" mdl-shadow="2"
                                            [table-model]="_answerTableModel"
                                            (table-model-selectionChanged)="answerTableSelectionChanged($event)"></mdl-table-selectable>
                </div>
            </div>

            <div class="graph-area-container" mdl-shadow="4">
                <mdl-layout-title class="graph-area-title">Граф поставок</mdl-layout-title>
                <div class="graph-area">
                    <div class="graph-labels">
                        <div class="graph-label"><div class="provider-color" mdl-shadow="4"></div><mdl-layout-title class="label-title"> - поставщик</mdl-layout-title></div>
                        <div class="graph-label"><div class="consumers-color" mdl-shadow="4"></div><mdl-layout-title class="label-title"> - потребитель</mdl-layout-title></div>
                        <div class="graph-label"><div class="flow-color" mdl-shadow="4"></div><mdl-layout-title class="label-title"> - поток (стоимость)</mdl-layout-title></div>
                    </div>
                    <div class="graph-canvas" id="answerGraphCanvas" #answerGraphCanvas></div>
                    <button class="button" (click)="restructAnswerGraph()" mdl-button mdl-button-type="raised">
                        Перестроить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <dialog-outlet></dialog-outlet>
</div>
