@import '../../Content/Styles/_variables.scss';
@import '../../Content/Styles/_mixins.scss';

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    .condition-area-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: inherit;
        min-height: 400px;
        padding: 20px;
        background-color: $condition-area-primary-color;
        .condition-area-title {
            margin-bottom: 10px;
            color: $condition-area-title-text-color;
        }
        .condition-area {
            max-height: 550px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            .vertex-area-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                min-height: 400px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: $condition-area-accent-color;
                .vertex-area-title {
                    font-size: medium;
                    margin-bottom: 8px;
                    color: $condition-area-title-text-color;
                } 
                .vertex-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .add-vertex-area {
                        min-height: 130px;   
                        width: 430px;    
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: $condition-area-primary-color; 
                        .input-element {
                            width: 190px;
                            margin: 10px;
                            color: $condition-area-title-text-color;
                        }
                        .add-vertex-button {
                            margin-bottom: 5px;
                            margin-left: 100px;
                            background: $action-button-color;
                            color: $condition-area-title-text-color;
                        }
                    }
                    .vertices-table {
                        max-height: 250px;
                        width: 100%;
                        height: 100%;
                        margin-top: 10px;
                        overflow-y: scroll;
                        background-color: $action-button-color;
                    }
                    .delete-selected-button {
                        margin-top: 5px;
                        background: $action-button-color;
                        color: $condition-area-title-text-color;
                    }
                }
            }
        }
    }
}