@import "../../../node_modules/material-design-lite/src/color-definitions.scss";


////////// breakpoints //////////
$tablet-breakpoint: 480px;
$desktop-breakpoint: 840px;


////////// site palette //////////
$color-primary: $palette-grey-700 !default;
$color-primary-dark: $palette-brown-800 !default;
$color-accent: $palette-grey-400 !default;
$color-primary-contrast: $palette-grey-400 !default;
$color-accent-contrast: $palette-cyan-A200 !default;


////////// elements color definition //////////
$button-primary-color: unquote("rgba(#{$color-accent}, 0.20)") !default;
$button-secondary-color: unquote("rgb(#{$color-primary-contrast})") !default;
$toolbar-chip-user-name-color: unquote("rgba(#{$color-accent}, 0.20)") !default;
$drawer-chip-user-name-color:  unquote("rgba(#{$color-accent}, 0.20)") !default;
$active-link-border-color: unquote("rgb(#{$color-accent-contrast})") !default;
$toolbar-chip-user-menu-button-color: unquote("rgb(#{$color-accent-contrast})") !default;