@import "../../../node_modules/material-design-lite/src/color-definitions.scss";


////////// breakpoints //////////
$tablet-breakpoint: 480px;
$desktop-breakpoint: 840px;


////////// site palette //////////
$color-primary: $palette-grey-700 !default;
$color-primary-dark: $palette-cyan-A200 !default;
$color-accent: $palette-cyan-A200 !default;
$color-primary-contrast: $palette-grey-400 !default;
$color-accent-contrast: $palette-cyan-A200 !default;


////////// elements color definition //////////
$button-primary-color: unquote("rgba(#{$color-accent}, 0.20)") !default;
$button-secondary-color: unquote("rgb(#{$color-primary-contrast})") !default;
$toolbar-chip-user-name-color: unquote("rgba(#{$color-accent}, 0.20)") !default;
$drawer-chip-user-name-color:  unquote("rgba(#{$color-accent}, 0.20)") !default;
$active-link-border-color: unquote("rgb(#{$color-accent-contrast})") !default;
$toolbar-chip-user-menu-button-color: unquote("rgb(#{$color-accent-contrast})") !default;

$condition-action-button-color: unquote("rgba(#{$color-accent}, 0.20)") !default;
$condition-area-title-text-color: #536d6d;
$condition-area-primary-color: #ADEAEA;
$condition-area-accent-color: rgba(#5F9F9F, 0.20);
$condition-provider-color: #E53935;
$condition-consumers-color: #689F38;
$condition-rate-color: #83460b;

$calc-action-button-color: unquote("rgba(#{$palette-red-A200}, 0.20)") !default;
$calc-area-title-text-color: #536d6d;
$calc-area-primary-color: #eaadad;
$calc-area-accent-color: rgba(#eaadad, 0.20);

$answer-area-title-text-color: #536d6d;
$answer-area-primary-color: #a1e9a9;
$answer-area-accent-color: rgba(#a1e9a9, 0.20);
$answer-provider-color: #E53935;
$answer-consumers-color: #689F38;
$answer-flow-color: #231e8b;